<!doctype html>
<html>

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalabe=no">
    <title>刪除紀念日</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link href="/static/css/create_form.css" rel="stylesheet" />

</head>

<body>
        <div class="container">
            <div class="header">
                <h1>SliverEase</h1>
            </div>

        <i id="menu-bar" class="fa-solid fa-house" style="color: #9fb889;"></i>
        <div class="navbar">
          <ul id="navigation" class="nav">        
           <li><a href="/event/">返回主頁</a></li> 
         </ul>
        </div>

            <div class="content">
                <h2>確認刪除紀念日</h2>
                <form action="/event/delete" method="post" enctype="multipart/form-data">
                    <div class="form">
                        <div class="name">標題</div>
                        <div class="value">
                            <input type="text" name="Title" value="{{data[2]}}" class="input-field" readonly>
                        </div>
                        <br />

                        <div class="name"></div>
                        <input type="hidden" name="MemoID" value="{{data[0]}}">
                        <div class="value"><input type="submit" value="刪除"></div>
                    </div>
                </form>
            </div>
        </div>
</body>

</html>
