<!DOCTYPE html>
<html lang="en">

<head></head>

<body></body>

<script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
<script>
    function initializeLiff(myLiffId) {
        liff.init({
            liffId: myLiffId
        }).then(() => {
            if (!liff.isLoggedIn()) {
                alert("用戶未登入");
                liff.login();
            }
            liff.getProfile().then((profile) => {
                const userId = profile.userId
                liff.permanentLink
                    .createUrlBy("https://silverease.ntub.edu.tw/event/list?MemID=" + userId)
                    .then((permanentLink) => {
                        console.log(permanentLink);
                        liff.openWindow({
                            url: permanentLink,
                        });
                    });
            })
                .catch((err) => {
                    console.log("error", err);
                });

        }).catch((err) => {
            console.log('初始化失敗', err);
        });
    }

    initializeLiff('{{liffid}}')
</script>

</html>
