<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>更新紀念日</title>
</head>
   
<body>
    <!--**************************-->
    <div class="container">    
        <!--~~~~~~~~~~~~~~~~~-->
        <div class="header">           
        </div>        
        
        <!--~~~~~~~~~~~~~~~~~-->        
        <ul id="navigation">        
            <li><a href="/event/">返回主頁</a></li> 
        </ul>
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="content">
            <h2>更改客戶</h2>

            <form action="/event/update" method="post" enctype="multipart/form-data">
                <div class="form">
                    <span class="name">名稱</span>
                    <span class="value">
                        <input type="text" name="Title" value="{{data[2]}}" required>
                    </span>
                    <br/>

                    <span class="name">日期</span>
                    <span class="value">
                        <input type="text" name="DateTime" value="{{data[3]}}" required>
                    </span>
                    <br/>

                    <span class="name">地點</span>
                    <span class="value">
                        <input type="text" name="Location" value="{{data[7]}}">
                    </span>
                    <br/>

                    <a href="/event/delete/confirm?MemoID={{data[0]}}">刪除</a>
                    <br/>
                    <input type="hidden" name="MemoID" value="{{data[0]}}">
                    <span class="name"></span>
                    <span class="value"><input type="submit" value="更改" style="width:80px"></span>
                </div>
            </form>
               
        </div>       
    </div>  
</body>
   
</html>
