<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>測試樣板</title>
</head>
   
<body>
    <!--**************************-->
    <div class="container">    
        <!--~~~~~~~~~~~~~~~~~-->
        <div class="header">           
        </div>        
        
        <!--~~~~~~~~~~~~~~~~~-->        
        <ul id="navigation">        
            <li><a href="/event/">返回主頁</a></li> 
        </ul>
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="content">
            <h2>客戶清單</h2>

            <p>
                <table>
                    <thead>
                        <tr>
                            <th>標題</th>
                            <th>時間</th>
                            <th>地點</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for d in data %}
                            <tr>
                                <td>{{d[2]}}</td>
                                <td>{{d[3]}}</td>
                                <td>{{d[7]}}</td>
                                <td><a href="/event/update?MemoID={{d[0]}}">編輯</a></td>
                            </tr>
                        {% endfor %}                        
                    </tbody>
                </table>
            </p>       
        </div>       
    </div>
</body>
   
</html>
