<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <input type="checkbox" name="" id="">我已詳閱使用政策
    </div>
    <div>
        <input type="checkbox" name="" id="">我已詳閱隱私政策
    </div>
    <form action="/set/access/submit" method="post">
        <div>
            <input type="checkbox" name="GPS" id="">同意收集定位資訊
        </div>
        <div>
            <input type="checkbox" name="DataAnalyze" id="">同意資料進行數據分析
        </div>
        <div>
            <input type="submit" disabled>
        </div>
    </form>
</body>
<script>
    // 前二政策同意才啟動送出鍵
</script>
</html>