<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>初次設定裝置步驟</p>
    <p>網路設定：</p>
    <ol>
        <li>開啟WiFi設定</li>
        <li>連接熱點 名稱：{{DevID}}</li>
        <li><a href="http://192.168.4.1">點我進入設定頁面</a></li>
    </ol>
    <p>連線後進行綁定：</p>
    <form action="/set/device/submit" method="post">
        <div>
            家庭隨機碼<input type="text" name="FamilyCode">
            <input type="hidden" name="DevID" value="{{DevID}}">
        </div>
        <div>
            <button type="submit">裝置綁定</button>
        </div>
    </form>
</body>

</html>