<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img {
            width: 100px;
            height: 100px;
            border-radius: 100px;
        }
    </style>
</head>

<body>
    <div class="container">
        家庭清單
        {% if MainFamily %}
        <div class="main_box">
            <div>
                您的家庭
            </div>
            <img src="{{MainFamily['Picture']}}" alt="">
            <div class="name">{{MainFamily["Name"]}}</div>
            <button onclick=deleteFamily()>刪除家庭</button>
            <a href="/set/access_index">查看同意政策</a>
        </div>
        {% endif %}
        {% if SubFamilys %}
        您所加入的家庭
        <div class="sub_box">
            {% for family in SubFamilys %}
            <div id="sub{{family['FamilyID']}}">
                <img src="{{family['Picture']}}" alt="">
                <div class="name">{{family["Name"]}}</div>
                <button onclick=leaveFamily() value="{{family['FamilyID']}}">退出家庭</button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if not (MainFamily and SubFamilys)%}
        暫無任何家庭資料
        <a href="/set/join_family">加入家庭</a>
        {% endif %}
    </div>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function deleteFamily() {
        swal({
            title: "確認刪除家庭?",
            text: "刪除後將遺失該家庭所有資料並移除成員",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    fetch(`/set/family_delete`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    }).then(response => {
                        return response.json();
                    }).then(data => {
                        console.log(data);
                        if (data['status'] == 'success') {
                            swal("刪除成功", {
                                icon: "success",
                            }).then(() => {
                                location.reload();
                            });                            
                        } else {
                            swal("刪除失敗", {
                                icon: "error",
                            });
                        }
                    });
                } else {
                    swal("Your imaginary file is safe!");
                }
            });
    }

    function leaveFamily(){
        swal({
            title: "確認退出家庭?",
            text: "退出後將無法再查看該家庭資料",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    fetch(`/set/family_leave`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            FamilyID: familyID
                        })
                    }).then(response => {
                        return response.json();
                    }).then(data => {
                        console.log(data);
                        if (data['status'] == 'success') {
                            swal("退出成功", {
                                icon: "success",
                            }).then(() => {
                                location.reload();
                            });                            
                        } else {
                            swal("退出失敗", {
                                icon: "error",
                            });
                        }
                    });
                } else {
                    swal("Your imaginary file is safe!");
                }
            });
        familyID=event.target.value;
        console.log(familyID);
    }
</script>

</html>