<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalabe=no">
    <title>錯誤ID</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap" rel="stylesheet">
                
    <link href="/static/css/return.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>SilverEase</h1>
        </div>

        <div class="content">
            <div class="clear"></div>
            <div class="cardrow">
                <img src="/static/imgs/help.png" class="b">
            </div>
            
            
            <h4>找不到此群組編號</h4>
            <p>等待自動跳轉...</p>
        </div>
    </div>    
</body>
<script>
    // 等待 1 秒後跳轉到 young.html
    window.onload = function() {
            setTimeout(function() {
                window.location.href = "/set/young";
            }, 1500); // 1000 毫秒 = 1 秒
        }
</script>
</script>
</html>
