<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">

    <title>輸入長輩編號</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap" rel="stylesheet">

    <link href="/static/css/code.css" rel="stylesheet" />
    <script src="/static/js/touch-buttons.js" defer></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js""></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"
        integrity="sha512-NFUcDlm4V+a2sjPX7gREIXgCSFja9cHtKPOL1zj6QhnE0vcY695MODehqkaGYTLyL2wxe/wtr4Z49SvqXq12UQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="container">

        <div class="header">
            <h1>SilverEase</h1>
        </div>

        <div class="content-wrapper">
            <div class="content">
                <img src="/static/imgs/main.png" class="b">
                <h1>群組代碼</h1>

                <div id="qrcode" class="photo">
                    <img src="/static/imgs/logo.png" class="logo">
                    </div>
                    
                <div class="form-container">
                    <h4>代號:</h4>

                    <div class="cardrow">
                        <span class="value">
                            <input class="output" type="text" id='number' value="{{code_id}}" readonly>
                            <button class="btn" type="button" onclick="copy()">
                                <img class="btn" src="/static/imgs/share.png" alt="copy" id="share"
                                    onclick="shareCode()"></button>
                        </span>
                        <br />
                        <script>
                            function copy() {
                                const URL = document.getElementById('number');
                                URL.select()
                                navigator.clipboard.writeText(URL.value)
                            }
                        </script>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
<script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
<script>
    liff.init({ liffId: '{{liffid}}' })

    $('#qrcode').qrcode({
        width: 120,
        height: 120,

        text: 'https://liff.line.me/2004699458-OR9pkZjP/set/join_family/{{code_id}}'
    });

    html2canvas($('#qrcode').get(0)).then(function (canvas) {
            const ctx = canvas.getContext('2d');
            const logo = new Image();

            logo.src = 'imgs/logo.png';
            logo.onload = function () {
                const logoSize = canvas.width / 4;
                const logoX = (canvas.width - logoSize) / 2;
                const logoY = (canvas.height - logoSize) / 2;

                ctx.drawImage(logo, logoX, logoY, logoSize, logoSize);

                $('#qrcode').html('');
                $('#qrcode').append(canvas);
                $('#canvas').remove();
            };
        });

    function shareCode() {
        liff.shareTargetPicker(
            [
                {
                    "type": "template",
                    "altText": "加入家庭群組邀請",
                    "template": {
                        "type": "buttons",
                        "thumbnailImageUrl": "https://silverease.ntub.edu.tw/static/imgs/family.png",
                        "imageAspectRatio": "square",
                        "imageSize": "cover",
                        "imageBackgroundColor": "#FFFFFF",
                        "title": "加入家庭群組",
                        "text": "點擊下方按鈕加入家庭群組",
                        "defaultAction": {
                            "type": "uri",
                            "label": "查看詳情",
                            "uri": "https://liff.line.me/2004699458-OR9pkZjP/set/join_family/{{code_id}}"
                        },
                        "actions": [
                            {
                                "type": "uri",
                                "label": "立即加入",
                                "uri": "https://liff.line.me/2004699458-OR9pkZjP/set/join_family/{{code_id}}"
                            }
                        ]
                    }
                }
            ],
            {
                isMultiple: true,
            }
        )
    }


</script>

</html>