<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">

    <title>綁定成功</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap" rel="stylesheet">

    <link href="/static/css/return.css" rel="stylesheet" />

</head>

<body>
    <div class="container">
        <div class="header">
            <h1>SilverEase</h1>
        </div>
        <div class="content-wrapper">
            <div class="content">
                <div class="clear"></div>
                <div class="cardrow">
                    <img src="/static/imgs/check.png" class="b">
                </div>
                <div class="message">
                    <h4>綁定成功！,{{old |e}}的照護者</h4>
                </div>
                <p>等待自動跳轉...</p>
            </div>
        </div>
    </div>
</body>
<script>
    window.onload = function () {
        setTimeout(function () {
            window.location.href = "/set/young";
        }, 1500);
    }
</script>

</html>