<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">

    <title>輸入長輩編號</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap" rel="stylesheet">

    <link href="/static/css/code.css" rel="stylesheet" />
    <script src="/static/js/touch-buttons.js" defer></script>
</head>
<script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
<script>
    var MemID;
    function initializeLiff(myLiffId) {
        liff.init({
            liffId: myLiffId
        }).then().catch((err) => {
            console.log('初始化失敗', err);
        });
    }
</script>

<body>
    <div class="container">
        <div class="header">
            <h1>SilverEase</h1>
        </div>
        <div class="content-wrapper">
            <div class="content">
                <a href="http://liff.line.me/2004699458-OR9pkZjP/set/qrcode">點我掃描QRCode</a>
                <img src="/static/imgs/main.png" class="b">
                <h1>群組代碼</h1>
                <form action="/set/CodeID" method="post" enctype="multipart/form-data">
                    <div class="form">
                        <h4>請輸入群組代碼</h4>

                        <div class="cardrow">
                            <span class="value">
                                <div class="input-wrapper">
                                    <input class="input-with-dot" type="text" id="input-with-dot" name="CodeID" maxlength="6" required oninput="updateDotsAndColor()">
                                    <div class="display-text" id="display-text"></div>
                                </div>
                                <input type="hidden" id="MemID" name="MemID">
                            </span>
                        </div>
                        <div class="cardrow">
                            <span class="value"><input type="submit" value="確認"></span>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function updateDotsAndColor() {
            const input = document.getElementById('input-with-dot');
            const displayText = document.getElementById('display-text');
            const value = input.value;
            const maxLength = input.maxLength;

            // 分割已輸入數字和剩餘佔位符號
            const digits = value;
            const dots = '•'.repeat(maxLength - value.length);

            // 更新顯示文字
            displayText.innerHTML = `<span class="digits">${digits}</span><span class="dots">${dots}</span>`;
        }

        // 初始化時顯示預設的佔位符號
        updateDotsAndColor();
    </script>
</body>

</html>