<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>{{ data.Title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link href="/static/css/graph.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>SilverEase</h1>
        </div>

        <div class="title-container">
            <h1 class="content-header">{{ data.analyze }}</h1>
        </div>
    </div>
    <select id="MainUserID" name="MainUserID">
        {% for user in MainUsers %}
        <option value="{{ user[0] }}">{{ user[1] }}</option>
        {% endfor %}
    </select>
    <div class="button-group">
        {% for key, value in data.items() %}
            {% if key != 'Title' %}
                {% if value.url %}
                    <a class="period-link {{ 'main-page-link' if value.name == '主頁' else 'weekly-link' if value.name == '當週' else 'other-link' }}" href="/analyze/{{ value.url }}">{{ value.name }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div id="buttonContainer"></div>
    <div id="dateContainer"></div>
    <div id="chartContainer"></div>
    <script src="/static/js/Chart.bundle.js"></script>
    <script src="/static/js/analyze.js"></script>
    <input type="hidden" id="MemID" name="MemID">
</body>
</html>
