<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.Title }}</title>
    <link href="/static/css/graph.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>SilverEase</h1>
    <div>{{ data.analyze }}</div>
    {% for key, value in data.items() %}
        {% if key != 'Title' %}
            {% if value.url %}
                <a href="/analyze/{{ value.url }}">{{ value.name }}</a>
                <br>
            {% endif %}
        {% endif %}
    {% endfor %}
    <div id="chartContainer"></div>
    <script src="/static/js/Chart.bundle.js"></script>
    <script src="/static/js/analyze.js"></script>
    <input type="hidden" id="MemID" name="MemID">
</body>
</html>
