<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>選擇長輩</title>
</head>
<body>
    <div class="form">
        <form id="form" method="POST" action="/gps/check">
            <div class="form-group">
                <label for="MainUserID">主要用戶</label>
                <select id="MainUserID" name="MainUserID">
                    {% for user in MainUsers %}
                    <option value="{{ user[0] }}">{{ user[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <br><br>
            <div>
                <input class="button" id="but" type="submit" value="提交">
            </div>
        </form>
    </div>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script>
        function initializeLiff(myLiffId) {
            liff.init({
                liffId: myLiffId
            }).catch((err) => {
                console.log('初始化失敗', err);
            });
        }

        initializeLiff('{{ liffid }}')
    </script>
</body>
</html>
