<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>長輩定位</title>
    <script type="text/javascript">
        function redirectToURL() {
            // 指定你的目標URL
            var targetURL = "{{url}}"; // 這裡替換為你想要跳轉的URL
            window.location.href = targetURL;
        }
    </script>
</head>
<body onload="redirectToURL()">
    <h1>GPS</h1>
    <p>若沒有自動跳轉<a href="{{url}}">請點此</a>.</p> <!-- 同樣替換這裡的URL -->
</body>
</html>
