@charset "utf-8";

/* ------------------- */
/* html, body          */
/* ------------------- */
html, body{
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #F2F0EE;
    padding: 0%;
    margin: 0%;
}


/* ------------------- */
/* container           */
/* ------------------- */
div.container{
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    line-height: 26px;
    background-color: #F2F0EE;
}


/* ------------------- */
/* header              */
/* ------------------- */
div.header{
    display: flex;
    /* 水平置中 */
    justify-content: center;  
    padding: 10px;
    height: 40px;
    background-color: #9FB889;
}

div.header h1{
    font-size: 30px;
    width: 200px;
    padding: 5px;
    text-align:center;
    letter-spacing: 3px;
    margin: 0%;
}

/* 返回主頁 */
#menu-bar{
    z-index: 1;
    float: left;
    padding-top: 11px;
    padding-left: 5px;
    font-size: 17px;
}

div.navbar{
    height: 35px;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: 600;
}
ul li{
    line-height: 40px;
    float: left;  /* 字變水平*/
    width:75px; /* 字之間的距離區塊*/
    text-align: center;
}

div.navbar a{
    text-decoration: none; /* 連結底線拿掉*/
    color: #000000; 
}

/* ------------------- */
/* content             */
/* ------------------- */

div.content{
    background-color: #F2F0EE;
    padding: 0px 23px;
}

div.content h1{
    font-size: 30px;
    letter-spacing:8px;
}


input.input-field {
    width: 320px;
    height: 40px;
    border-radius: 6px;
    font-size: 18px;
    border-style:solid;
    border-color: #A8A8A8;
    color: #333;
}


input[type="datetime-local"] {
    background-color: white; 
    color: #333; 
}

/* 輸入框間距 */
.value {
    margin-bottom: -10px; 
}

.name {
    font-size: 18px;
    margin-bottom: 5px; 
}

/* 時間日期小圖 */
  .ui-input.ui-date-input input[type="date"]::-webkit-calendar-picker-indicator {
    background-size: 18px 18px;
    background-position: right center;
}
  

/* 送出按鈕設定 */
.btn{
    position: relative;
    top: 300px;
    align-items: center;
    margin-left: 10px;
}

input[type="submit" i]{
    position: relative;
    top: 100px;
    align-items: center;
    margin-left: 10px;
}

.delete-btn{
    position: relative;
    top: 200px;
    align-items: center;
    margin-left: 10px;
}

.btn{
    background-color: #9FB889;
    width: 340px;
    height: 40px;
    border-style:none;
    border-radius: 50px;
    color: #000000;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing:5px;
    margin: 0%;
}

/* delete_confirm的刪除 */
input[type="submit" i]{
    background-color: #9FB889;
    width: 340px;
    height: 40px;
    border-style:none;
    border-radius: 50px;
    color: #000000;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing:5px;
    margin: 0%;
}

/* update_confirm的刪除 */
.delete-btn{
    background-color: #F2F0EE;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    padding: 3px 138px;
    border: 5px solid #9FB889;
    font-weight: 600;
    border-radius: 50px;
    letter-spacing:5px;
    margin: 0%;
}


/*---------------------*/
/* 修飾表格             */
/*---------------------*/
table{
    width:330px;
    border: 2px solid #9FB889;
    border-collapse: collapse;   
    margin-top: 50px;
}

table tr td{
    border: 2px dotted #9FB889;    
    text-align: center;
}

/* 修飾標題列 */
table thead tr{
    /* background-color: #9FB889; */
    border: 2px dotted #9FB889;    
    height: 32px;
}

table thead th{
    border: 2px solid #9FB889; 
    background: #adc29b; 
    text-align: center;
}

/* 修飾資料列 */
table tbody tr{
    height: 40px;
}

table tbody tr:nth-child(even){
    background: #b4c1a9;
}

/* 修飾超連結 */
table tbody tr td a{
    background-color: #9FB889;
    color: #000000;
    text-decoration: none;
    font-size:small;
    padding: 2px 3px;
    font-weight: 500;
    border-radius: 50px;
    letter-spacing:5px;
    
}


