/* ------------------- */
/* content             */
/* ------------------- */

/* 標題(吃藥提醒) */
.toptitle{
    font-size:30px;
    font-weight: 750;
    letter-spacing: 8px;
    padding-top: 25px;
    padding-left: 145px;
}


.content h2 {
    position: relative;
    top: 350px;
    text-align: center;
    color: #000000; 
}

/* 調整圖片的位置 */
div.content img {
    position: absolute;
    left: 50%;
    top: 100px;
}

@media (max-width:650px) {  
    /* 標題(吃藥提醒) */
.toptitle{
    padding-top: 25px;
    padding-left: 130px;
}

.btn{
    position: relative;
    top: 300px;
    align-items: center;
}
    
}
