@charset "utf-8";

/* ------------------- */
/* html, body          */
/* ------------------- */
html, body{
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #f4f9f7;
    padding: 0%;
    margin: 0%;
}


/* ------------------- */
/* container           */
/* ------------------- */
div.container{
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    line-height: 26px;
    background-color: #F2F0EE;
}


/* ------------------- */
/* header              */
/* ------------------- */
div.header{
    display: flex;
    /* 水平置中 */
    justify-content: center;  
    padding: 10px;
    height: 40px;
    background-color: #9FB889;
}

div.header h1{
    font-size: 30px;
    width: 200px;
    padding: 5px;
    text-align:center;
    letter-spacing: 3px;
    margin: 0%;
}


/* ------------------- */
/* content             */
/* ------------------- */

/* 標題(吃藥提醒) */
.toptitle{
    font-size:30px;
    font-weight: 750;
    letter-spacing: 8px;
    padding-top: 25px;
    padding-left: 145px;
}


.content h2 {
    position: relative;
    top: 350px;
    text-align: center;
    color: #000000; 
}

/* 調整圖片的位置 */
div.content img {
    position: absolute;
    left: 50%;
    top: 100px;
}

@media (max-width:650px) {  
    /* 標題(吃藥提醒) */
.toptitle{
    padding-top: 25px;
    padding-left: 130px;
}

.btn{
    position: relative;
    top: 300px;
    align-items: center;
}
    
}
