body {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #F2F0EE;
    padding: 0%;
    margin: 0%;
}

.container{
    /* max-width: 800px; */
    margin: 0 auto;
    height: 1000px;
    text-align: justify;
    line-height: 26px;
    background-color: #F2F0EE;
}

div.header{
    display: flex;
    /* 水平置中 */
    justify-content: center;  
    padding: 10px;
    height: 40px;
    background-color: #9FB889;
}

div.header h1{
    font-size: 30px;
    width: 200px;
    padding: 5px;
    text-align:center;
    letter-spacing: 3px;
    margin: 0%;
}

.content{
    background-color: #F2F0EE;
    padding: 0px 24px;
}

.content h1{
    color: #000000;
    font-size: 30px;
    letter-spacing: 8px;
    width: 80%; 

}

.data-item{
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 1em;
    box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.1);
    line-height: 1.2;
    position: relative;
    width: 80%; 
    margin: 0 auto; /* 水平置中 */
}


.edit-link {
    position: absolute;
    top: 1em;
    right: 1em;
}

.title{
    font-size: 1.2em;
    color: #333;
    margin-bottom: 0.5em;
}

.title-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-link a {
    color: #5d7b44;
    text-decoration: none;
}

.edit-link i {
    color: #73905c;
    width: 30px;
}

.time, .location {
    color: #666;
    margin-bottom: 0.5em;
}

.edit-link {
    text-align: right;
}


@media only screen and (max-width: 600px) {
    .edit-link {
        top: 8px;
        right: 12px;
    }

    .data-item{
        background: #ffffff;
        border-radius: 10px;
        margin-bottom: 1em;
        padding: 1em;
        box-shadow: none;
        position: relative;
        width: 80%;
        margin: 0 auto;
    }
}


