

/* ------------------- */
/* html, body          */
/* ------------------- */
html, body{
    font-family: 'Noto Sans TC', sans-serif;
    background: #333;
    margin-top: 0px;
}


/* ------------------- */
/* container           */
/* ------------------- */
div.container{
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    line-height: 26px;
    background-color: #F2F0EE;
}


/* ------------------- */
/* header              */
/* ------------------- */
div.header{
    display: flex;
    /* 水平置中 */
    justify-content: center;  
    padding: 10px;
    height: 40px;
    background-color: #9FB889;
}

/* SliverEase */
div.header h1{
    font-size: 30px;
    width: 200px;
    padding: 5px;
    text-align:center;
    letter-spacing: 3px;
    margin: 0%;
}


/* ------------------- */
/* 回主頁             */
/* ------------------- */
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li{
    line-height: 40px;
    text-align: top; 
    width: 200px; 
    
}

div.navbar a{
    text-decoration: none; /* 連結底線拿掉*/
    color: #000000; 
    font-size: 20PX;
    font-weight:600;
}


