@charset "utf-8";

/* ------------------- */
/* html, body          */
/* ------------------- */
html, body{
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #f4f9f7;
    padding: 0%;
    margin: 0%;
}


/* ------------------- */
/* container           */
/* ------------------- */
div.container{
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    line-height: 26px;
    background-color: #F2F0EE;
}


/* ------------------- */
/* header              */
/* ------------------- */
div.header{
    display: flex;
    /* 水平置中 */
    justify-content: center;  
    padding: 10px;
    height: 40px;
    background-color: #9FB889;
}

div.header h1{
    font-size: 30px;
    width: 200px;
    padding: 5px;
    text-align:center;
    letter-spacing: 3px;
    margin: 0%;
}

/* 返回主頁 */
#menu-bar{
    z-index: 1;
    float: left;
    padding-top: 11px;
    padding-left: 5px;
    font-size: 17px;
}

div.navbar{
    height: 35px;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: 600;
}
ul li{
    line-height: 40px;
    float: left;  /* 字變水平*/
    width:75px; /* 字之間的距離區塊*/
    text-align: center;
}

div.navbar a{
    text-decoration: none; /* 連結底線拿掉*/
    color: #000000; 
}


/* ------------------- */
/* content             */
/* ------------------- */
div.clear{
    height: 50px;
}

div.content{
    background-color: #F2F0EE;
    padding: 0px 25px;
}

div.content h1{
    font-size: 30px;
    letter-spacing:8px;
}


.content h2 {
    text-align: center;
    font-size: 20px;
    letter-spacing:5px;
    margin: 0%;
    padding: 0px 0px 20px;
}

/* 調整圖片的位置 */
div.content img {
    width: 340px;
    height: 340px;
}