@charset "utf-8";

/* ------------------- */
/* html, body          */
/* ------------------- */
html, body{
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #f4f9f7;
    padding: 0%;
    margin: 0%;
}


/* ------------------- */
/* container           */
/* ------------------- */
div.container{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    line-height: 26px;
    background-color: #F2F0EE;
}


/* ------------------- */
/* header              */
/* ------------------- */
div.header{
    display: flex;
    /* 水平置中 */
    justify-content: center;  
    padding: 10px;
    height: 40px;
    background-color: #9FB889;
}

div.header h1{
    font-size: 30px;
    width: 200px;
    padding: 5px;
    text-align:center;
    letter-spacing: 3px;
    margin: 0%;
}

/* ------------------- */
/* content             */
/* ------------------- */
div.content{
    background-color: #F5F5F5;
    height: 600px;
    padding: 20px 30px;
}

div.clear{
    height: 80px;
}

div.cardrow{
    width: 380px;
    height: 90px;
    margin: auto;
}
div.content h1{
    font-size: 30px;
    letter-spacing:8px;
}

div.content h4{
    text-align: center;
    font-size: 20px;
    letter-spacing:5px;
    margin: 0%;
    padding: 0px 0px 20px;
}

div.content p{
    color: #535353;
    text-align: center;
    font-size: 20px;
    letter-spacing:5px;
    margin: 0%;
    padding: 0px 0px 20px;
}

img.b{
    width: 340px;
    height: 340px;
}
