<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="flaskhandler" />
            <add name="flaskhandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python312\python.exe|&quot;C:\Project\flaskapp\app\wfastcgi.py&quot;" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
