<!doctype html>
<html>

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>編輯紀念日</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link href="/static/css/create_form.css" rel="stylesheet" />
    <script src="/static/js/touch-buttons.js" defer></script>
</head>

<script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
<script>
    var EditorID;
    function initializeLiff(myLiffId) {
        liff.init({
            liffId: myLiffId
        }).then(() => {
            if (!liff.isLoggedIn()) {
                alert("用戶未登入");
                liff.login();
            } else {
                liff.getProfile()
                    .then(profile => {
                        var EditorID = profile.userId;
                        document.getElementById("EditorID").value = EditorID;
                    })
                    .catch((err) => {
                        console.log('error', err);
                    });
            }

        }).catch((err) => {
            console.log('初始化失敗', err);
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        var cycleValue = "{{ data.Cycle }}";
        var cycleSelectElement = document.querySelector('select[name="Cycle"]');
        for (var i = 0; i < cycleSelectElement.options.length; i++) {
            if (cycleSelectElement.options[i].value === cycleValue) {
                cycleSelectElement.options[i].selected = true;
                break;
            }
        }

        var alertValue = "{{ data.Alert }}";
        var alertSelectElement = document.querySelector('select[name="Alert"]');
        for (var i = 0; i < alertSelectElement.options.length; i++) {
            if (alertSelectElement.options[i].value === alertValue) {
                alertSelectElement.options[i].selected = true;
                break;
            }
        }
    });

</script>

<body onload="initializeLiff('2004699458-OR9pkZjP')">
    <div class="container">

        <div class="header">
            <h1>SilverEase</h1>
        </div>

        <i id="menu-bar" class="fa-solid fa-house"></i>

        <div class="navbar">
            <ul id="navigation" class="nav">
                <li><a href="/event/list">返回主頁</a></li>
            </ul>
        </div>

        <div class="content">
            <div class="title-container">
                <h1 class="content-header">編輯紀念日</h1>
            </div>

            <div class="form-container">
                <form action="/event/update" method="post" enctype="multipart/form-data">
                    <div class="form">
                        <div class="name">名稱</div>
                        <div class="value">
                            <input type="text" name="Title" value="{{ data.Title }}" class="input-field" required>
                        </div>

                        <div class="name">日期時間</div>
                        <div class="value">
                            <div class="input-icon">
                                <input type="datetime-local" name="MemoTime" value="{{ data.MemoTime }}" class="input-field"
                                    required>
                                <i class="fa-solid fa-calendar-days calendar-icon"></i>
                            </div>
                        </div>

                        <div class="name">地點</div>
                        <div class="value">
                            <input type="text" name="Location" value="{{ data.Location }}" class="input-field">
                        </div>

                        <div class="name">多久重複</div>
                        <select name="Cycle" value="{{ data.Cycle }}">
                            <option value="不重複">不重複</option>
                            <option value="一小時">一小時</option>
                            <option value="一天">一天</option>
                            <option value="一週">一週</option>
                            <option value="一個月">一個月</option>
                            <option value="一年">一年</option>
                        </select>

                        <div class="name">幾分鐘前提醒</div>
                        <select name="Alert" value="{{ data.Alert }}">
                            <option value="0">當下</option>
                            <option value="1">1分鐘</option>
                            <option value="5">5分鐘</option>
                            <option value="10">10分鐘</option>
                            <option value="30">30分鐘</option>
                            <option value="60">1小時</option>
                        </select>

                    </div>
                    <a href="/event/delete/confirm?MemoID={{ data.MemoID }}" class="delete-btn">刪除</a>
                    
                    <input type="hidden" name="MemoID" value="{{ data.MemoID }}">
                    <input type="hidden" id="EditorID" name="EditorID">
                    <div class="name"></div>
                    <div class="value"><input type="submit" value="更改"></div>
            </div>
            </form>

        </div>

    </div>
</body>

</html>