@charset "utf-8";

html, body{
    touch-action: manipulation;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #F2F0EE;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    height: auto;
    padding-bottom: 20px;
    padding-bottom: env(safe-area-inset-bottom);
    padding-bottom: constant(safe-area-inset-bottom);
}

div.container{
    touch-action: manipulation;
    -ms-content-zooming: none;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    text-align: justify;
    line-height: 26px;
    background-color: #F2F0EE;
    min-height: calc(100vh - env(safe-area-inset-bottom));
    min-height: calc(100vh - constant(safe-area-inset-bottom));
}

div.header{
    display: flex;
    justify-content: center;  
    padding: 10px;
    height: 40px;
    background-color: #9FB889;
}

div.header h1{
    font-size: 30px;
    width: 200px;
    padding: 5px;
    text-align:center;
    letter-spacing: 3px;
    margin: 0%;
}

div.content{
    background-color: #F2F0EE;
    padding: 0px 23px;
}

div.cardrow{
    display: flex;
    justify-content: center;  
    margin: auto;
}

.form-container {
    width: 400px;
    margin: 20px auto;
}

div.content h1{
    font-size: 30px;
    letter-spacing:8px;
}

div.content h6{
    font-size: 30px;
    letter-spacing:8px;
}

.check{
    margin-left: 2%;
}

.policy {
    display: flex;
    justify-content: center;  
    margin: auto;
    background-color: #ffffff8f;
    width: 400px;
    height: 300px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    padding: 10px;
}

.policy ul {
    list-style-position: outside;
  }
  
.submit-button-disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.submit-button-enabled {
    background-color: #809f68;
    cursor: pointer;
}


input[type="submit" i] {
    position: relative;
    align-items: center;
    background-color: #969695;
    width: 340px;
    height: 40px;
    border-style: none;
    border-radius: 20px;
    color: #ffffff;
    font-size: 19px;
    font-weight: bolder;
    letter-spacing: 5px;
    margin: 10px 0%;
    cursor: pointer;    
    transition: background-color 0.1s;
}


input[type="submit" i]:active {
    background-color: #9fb889;
}

input[type="submit" i].delete_confirm {
    position: relative;
    top: -13px;
    align-items: center;
    background-color: #809f68;
    width: 100%;
    height: 40px;
    border-style: none;
    border-radius: 20px;
    color: #ffffff;
    font-size: 19px;
    font-weight: bolder;
    letter-spacing: 5px;
    margin: 0%;
    cursor: pointer;    
    transition: background-color 0.1s;
}

input[type="submit" i].delete_confirm:active {
    background-color: #9fb889; 
}

@media screen and (max-width: 374px) {
    .title-container {
        width: 90%; 
    }

    .form-container {
        width: 90%;
    }

    .policy {
        width: 90%;
        height: 260px;
    }
}

@media screen and (min-width: 375px) and (max-width: 413px) {
    body h1{
        font-weight: 600;
        }

    .form-container {
        width: 90%;
    }

    .policy {
        width: 90%;
        height: 260px;
    }
}

@media (max-width: 768px){
    .form-container {
        width: 90%;
    }

    .policy {
        width: 90%;
        height: 260px;
    }
}

@media (min-width: 768px) {
    html, body{
        padding-bottom: calc(30px + env(safe-area-inset-bottom));
    
    }

    div.header {
        height: 50px;
    }
    
    div.header h1 {
        padding: 12px;
    }
    
    .btn:hover,
    .btn:active {
        background-color: #9fb889;
    } 

    input[type="submit" i]:hover,
    input[type="submit" i]:active {
        background-color: #9fb889;
    }

    .delete-btn:hover,
    .delete-btn:active {
        border: 4px solid #9fb889;
        color: #3a3a3a;
        background-color: #f5f5f5;
    }

    input[type="submit" i].delete_confirm:hover,
    input[type="submit" i].delete_confirm:active {
        background-color: #9fb889;
    } 

    .value {
        margin-bottom: 30px; 
    }
    
    select {
        margin-bottom: 32px;
    }

    input[type="datetime-local"]::-webkit-calendar-picker-indicator {
        position: absolute;
        right: 10px; 
        margin-left: 0; 
        z-index: 2; 
        opacity: 0; 
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .delete-btn {
        top: 95px;
    } 

    .form-container {
        width: 90%;
    }
    
    .policy {
        width: 90%;
        height: 260px;
    }
}

@media (min-width: 1400px) {
    .title-container {
        width: 38%; 
    }

}
