@charset "utf-8";

/* ------------------- */
/* html, body          */
/* ------------------- */
html{
    overflow-y: hidden;
}

html, body{
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #F2F0EE;
    padding: 0%;
    margin: 0%;
    padding-bottom: constant(safe-area-inset-bottom);
}


/* ------------------- */
/* container           */
/* ------------------- */
div.container{
    /* height: 1000px; */
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    line-height: 26px;
    background-color: #F2F0EE;
}


/* ------------------- */
/* header              */
/* ------------------- */
div.header{
    display: flex;
    /* 水平置中 */
    justify-content: center;  
    padding: 10px;
    height: 40px;
    background-color: #9FB889;
}

div.header h1{
    font-size: 30px;
    width: 200px;
    padding: 5px;
    text-align:center;
    letter-spacing: 3px;
    margin: 0%;
}

/* ------------------- */
/* content             */
/* ------------------- */
div.content{
    background-color: #F2F0EE;
    padding: 20px 30px;
}

div.cardrow{
    display: flex;
    /* 水平置中 */
    justify-content: center;
    margin: auto;
}

div.content h1{
    font-size: 30px;
    letter-spacing:8px;
    margin-bottom: 0;
}

div.content h4{
    font-size: 22px;
    letter-spacing:5px;
    margin: 0%;
    padding: 0px 0px 20px;
}

input.input{
    width: 320px;
    height: 30px;
    border-radius: 6px;
    font-size: 18px;
    border-style:solid;
    border-color: #A8A8A8;
}

input[type="submit" i]{
    background-color: #809f68;
    width: 340px;
    height: 40px;
    border-style:none;
    border-radius: 50px;
    color: #000000;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing:5px;
    margin: 30px 0px;
}

img.b{
    opacity: 0.5;
    width: 280px;
    height: 280px;
}

input.output{
    width: 265px;
    height: 30px;
    border-radius: 6px;
    font-size: 18px;
    border-radius: 5px;    
    border-style:solid;
    border-color: #A8A8A8;
}
button.btn{
    box-sizing: border-box; 
    width: 40px;
}

img.btn{
    height: 13px; 
    width: 15px;
}
