@charset "utf-8";

/* ------------------- */
/* html, body          */
/* ------------------- */
html, body{
    touch-action: manipulation;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #F2F0EE;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    height: auto;
    padding-bottom: 20px;
    padding-bottom: env(safe-area-inset-bottom);
    padding-bottom: constant(safe-area-inset-bottom);
}

/* ------------------- */
/* container           */
/* ------------------- */
div.container{
    touch-action: manipulation;
    -ms-content-zooming: none;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    text-align: justify;
    line-height: 26px;
    background-color: #F2F0EE;
    min-height: calc(100vh - env(safe-area-inset-bottom));
    min-height: calc(100vh - constant(safe-area-inset-bottom));
}

/* ------------------- */
/* header              */
/* ------------------- */
div.header{
    display: flex;
    /* 水平置中 */
    justify-content: center;  
    padding: 10px;
    height: 40px;
    background-color: #9FB889;
}

div.header h1{
    font-size: 30px;
    width: 200px;
    padding: 5px;
    text-align:center;
    letter-spacing: 3px;
    margin: 0%;
}

/* 返回主頁 */
#menu-bar{
    z-index: 1;
    float: left;
    padding-top: 12px;
    padding-left: 10px;
    font-size: 17px;
    color: #809f68;
}

div.navbar{
    height: 35px;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: 600;
}
ul li{
    line-height: 40px;
    float: left;  /* 字變水平*/
    width:75px; /* 字之間的距離區塊*/
    text-align: center;
}

div.navbar a{
    text-decoration: none; /* 連結底線拿掉*/
    color: #000000; 
}

/* ------------------- */
/* content             */
/* ------------------- */

div.content{
    background-color: #F2F0EE;
    padding: 0px 23px;
}

.title-container {
    width: 88%; 
    margin: 0 auto;
}

/* 所有輸入欄位 */
.form-container {
    width: 88%;
    margin: 0 auto;
}

.title-container .content-header {
    color: #000000;
    font-size: 30px;
    letter-spacing: 5px;
    width: 100%;
    text-align: left;
    margin-top: 30px; 
    margin-bottom: 35px;
}

div.content h1{
    font-size: 30px;
    letter-spacing:8px;
}

input.input-field, 
input[type="datetime-local"],
select {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    font-size: 19px;
    color: #111111;
    padding: 0 8px;
    box-sizing: border-box;
    border: 1px solid #747474;
    background-color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* input[type="datetime-local"] {
    padding: 0 40px 0 8px; 
    text-align: left;
} */
 
input[type="datetime-local"] {
    padding: 0 40px 0 8px;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
}

/* 下拉選單箭頭 */
select {
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    margin-bottom: 24px;
}

.input-icon {
    position: relative;
}

.fa-calendar-days {
    position: absolute;
    right: 10px;
    top: 50%; 
    transform: translateY(-50%); 
    color: #809f68;
    font-size: 19px;
    pointer-events: none;
}

/* 輸入框間距 */
.value {
    margin-bottom: 24px; 
}

.name {
    font-size: 18px;
    margin-bottom: 5px; 
}  



/* 新增 */
.btn {
    position: relative;
    top: 25px;
    align-items: center;
    background-color: #809f68;
    width: 100%; 
    height: 40px;
    border-style: none;
    border-radius: 20px;
    color: #ffffff;
    font-size: 19px;
    font-weight: bolder;
    letter-spacing: 5px;
    margin: 0%;
    margin-bottom: 30px;
    cursor: pointer;    
    transition: background-color 0.1s;
}

.btn:active {
    background-color: #9fb889;
}

/* delete_confirm的更改 */
input[type="submit" i] {
    position: relative;
    top: -70px;
    align-items: center;
    background-color: #809f68;
    width: 100%;
    height: 40px;
    border-style: none;
    border-radius: 20px;
    color: #ffffff;
    font-size: 19px;
    font-weight: bolder;
    letter-spacing: 5px;
    margin: 0%;
    cursor: pointer;    
    transition: background-color 0.1s;
}

input[type="submit" i]:active {
    background-color: #9fb889;
}

/* 編輯資料的刪除 */
.delete-btn {
    position: relative;
    top: 90px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #ffffff;
    border: 4px solid #809f68;
    width: 100%;
    height: 42px;
    border-radius: 20px;
    font-weight: bolder;
    letter-spacing: 5px;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
    cursor: pointer;
    transition: background-color 0.1s;
    text-decoration: none;
    color: #000000;
    font-size: 19px;
    box-sizing: border-box; 
}


.delete-btn:active {
    background-color: #eaeaea; 
    border: 4px solid #9fb889;
    color: #3a3a3a;
}

/* .delete_confirm 的設定 */
input[type="submit" i].delete_confirm {
    position: relative;
    top: -13px;
    align-items: center;
    background-color: #809f68;
    width: 100%;
    height: 40px;
    border-style: none;
    border-radius: 20px;
    color: #ffffff;
    font-size: 19px;
    font-weight: bolder;
    letter-spacing: 5px;
    margin: 0%;
    cursor: pointer;    
    transition: background-color 0.1s;
}

input[type="submit" i].delete_confirm:active {
    background-color: #9fb889; 
}

/* ------------------- */
/* Media Queries       */
/* ------------------- */
/* 針對較小的手機屏幕（如 iPhone 12 mini） */
@media screen and (max-width: 374px) {
    .title-container {
        width: 90%; 
    }

    /* 所有輸入欄位 */
    .form-container {
        width: 90%;
    }
}

/* 中等大小的手機屏幕 */
@media screen and (min-width: 375px) and (max-width: 413px) {
    body h1{
        font-weight: 600;
        }
}

/* 針對較大的手機屏幕（如 iPhone 14 Pro Max） */
@media screen and (min-width: 414px) {

    .delete-btn {
        top: 90px; 

    }

    .title-container {
        width: 90%; 
    }

    /* 所有輸入欄位 */
    .form-container {
        width: 90%;
    }

}


@media (min-width: 576px) {
    /* For devices >= 576px */
}

@media (min-width: 768px) {
    html, body{
        padding-bottom: calc(30px + env(safe-area-inset-bottom));
    
    }

    div.header {
        height: 50px;
    }
    
    div.header h1 {
        padding: 12px;
    }

    #menu-bar {
        padding-top: 13px;
        padding-left: 13px;
        font-size: 22px;
    }
    
    ul li {
        line-height: 50px;
        width: 85px; 
    }

    div.navbar a {
        font-size: 18px;
    }

    .btn:hover,
    .btn:active {
        background-color: #9fb889;
    } 

    input[type="submit" i]:hover,
    input[type="submit" i]:active {
        background-color: #9fb889;
    }

    .delete-btn:hover,
    .delete-btn:active {
        border: 4px solid #9fb889;
        color: #3a3a3a;
        background-color: #f5f5f5;
    }

    input[type="submit" i].delete_confirm:hover,
    input[type="submit" i].delete_confirm:active {
        background-color: #9fb889;
    } 

    .title-container {
        width: 55%; 
    }
    
    .form-container {
        width: 55%;
    }

    .value {
        margin-bottom: 30px; 
    }
    
    select {
        margin-bottom: 32px;
    }

    input[type="datetime-local"]::-webkit-calendar-picker-indicator {
        position: absolute;
        right: 10px; 
        margin-left: 0; 
        z-index: 2; 
        opacity: 0; 
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .delete-btn {
        top: 95px;
    } 
}

@media (min-width: 992px) {
    #menu-bar {
        padding-top: 15px;
        padding-left: 15px;
        font-size: 25px;
    }
    
    ul li {
        line-height: 56px;
    }

    .title-container {
        width: 47%; 
    }
    
    .form-container {
        width: 47%;
    }
}



@media (min-width: 1200px) {
    .title-container {
        width: 42%; 
    }
    
    .form-container {
        width: 42%;
    }
}

@media (min-width: 1400px) {
    #menu-bar {
        padding-top: 20px;
        padding-left: 20px;
    }
    
    ul li {
        line-height: 65px;
    }

    /* .form-container {
        background-color: white;
        border-radius: 8px;
        padding: 40px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    } */
    
    .title-container {
        width: 38%; 
    }
    
    .form-container {
        width: 38%;
    }

}
