@charset "utf-8";

html{
    overflow-x: hidden;
}

html,
body {
    touch-action: manipulation;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #F2F0EE;
    padding: 0%;
    margin: 0%;
    height: 100%;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: calc(30px + env(safe-area-inset-bottom));
}

div.container{
     width: 100%; 
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    line-height: 26px;
    overflow: hidden;
}

div.header{
    display: flex;
    justify-content: center;  
    align-items: center;
    padding: 10px;
    height: 40px;
    width: auto;
    background-color: #9FB889;
}

div.header h1{
    font-size: 30px;
    width: 200px;
    padding: 5px;
    text-align:center;
    letter-spacing: 3px;
    margin: 0%;
}

div.content{
    position: relative; 
    padding-top: 20px;
    justify-content: center;
    margin: auto;
}

div.map-content{
    background-color: #F2F0EE;
    padding: 0px 10px;
}

#map {
    height: 450px;
    width: 100%;
    margin-bottom: 50px;
}

.title-container {
    width: fit-content;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: auto;
}
.title-container .content-header {
    color: #000000;
    font-size: 30px;
    letter-spacing: 5px;
    width: 100%;
    text-align: left;
    margin-top: 30px; 
    margin-bottom: 35px;
}

.form-container {
    position: relative;
    transform: translate(0 ,-90%);
    z-index: 2;
}

.flex-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.flex-container label.h4 {
    margin-right: 10px;
}

.form{
    position: relative;
    z-index: 2;
}

div.content h1{
    font-size: 30px;
    letter-spacing:8px;
    color: #2e2e2e;
    margin-bottom: 180px;
    position: relative;
    z-index: 2;
}

div.content h4{
    width: 110px;
    font-weight: bold;
    color: #2e2e2e;
    font-size: 22px;
    letter-spacing:3px;
    margin-right: 5%;
    margin-top: 0;
}

a{
    color: #000;
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

select {
    width: auto;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #d3d3d3;
    border: 1px solid #ffffff;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: -2px;
    color: #000;
}


div.cardrow{
    display: flex;
    justify-content: center;  
    margin: auto;
}

button.i{
    position: relative;
    background-color: #809f68;
    width: 180px;
    height: 36px;
    border-style:none;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing:5px;
    margin: 20px 0px;
    cursor: pointer;    
    transition: background-color 0.1s;
}

button.i:active {
    background-color: #9fb889;
}

span.value{
    display: flex;
    align-items: center;
}
input.output{
    position: relative;
    width: 265px;
    height: 30px;
    border-radius: 6px;
    font-size: 18px;  
    border-style:solid;
    border-color: #A8A8A8;
    margin-right: 12px;
}

.no-access {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    font-weight: 800;
}

.no-access-content1 {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    margin: 30px 0 0 20px;
}

.no-access-content {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    margin-top: 30px;

}

.fa-solid {
    color: #E8933D;
}

.gpsUrlElement{
    background-color: var(--main-bg-color);
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 374px) {
    .title-container {
        width: 90%;
    }

    .form-container {
        width: 90%;
    }

    .time-filters button{
        font-size: 14px;
    }

    .time-filters button:nth-child(1),
    .time-filters button:nth-child(2),
    .time-filters button:nth-child(3)
    {
        margin-right: 10px;
    }

}

@media screen and (min-width: 375px) and (max-width: 413px) {
    body h1 {
        font-weight: 600;
    }

    .time-filters button{
        font-size: 14px;
    }

    .time-filters button:nth-child(1),
    .time-filters button:nth-child(2),
    .time-filters button:nth-child(3)
    {
        margin-right: 20px;
    }

}

@media screen and (min-width: 414px) {
    .title-container {
        width: 90%;
    }

    .form-container {
        width: 88%;
    }
}

@media (min-width: 768px) {
    html,
    body {
        padding-bottom: calc(30px + env(safe-area-inset-bottom));

    }

    div.header {
        height: 50px;
    }

    div.header h1 {
        padding: 12px;
    }

    .btn:hover,
    .btn:active {
        background-color: #9fb889;
    }

    input[type="submit" i]:hover,
    input[type="submit" i]:active {
        background-color: #9fb889;
    }

    .title-container {
        margin: auto;
    }

    .form-container {
        width: 55%;
    }

    .value {
        margin-bottom: 30px;
    }

    select {
        margin-bottom: 32px;
    }
}

@media (min-width: 992px) {
    .title-container {
        margin: auto;
    }

    .form-container {
        width: 47%;
    }
}



@media (min-width: 1200px) {
    .title-container {
        width: 42%;
    }

    .form-container {
        width: 42%;
    }
}

@media (min-width: 1400px) {
    .title-container {
        width: 38%;
    }

    .form-container {
        width: 38%;
    }

}