@charset "utf-8";

html,
body {
    touch-action: manipulation;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #F2F0EE;
    padding: 0%;
    margin: 0%;
    height: 100%;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: calc(30px + env(safe-area-inset-bottom));
}

div.header {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 40px;
    background-color: #9FB889;
}

div.header h1 {
    font-size: 30px;
    width: 200px;
    padding: 5px;
    text-align: center;
    letter-spacing: 3px;
    margin: 0%;
}

div.content {
    background-color: #F2F0EE;
    padding: 0px 23px;
}

.title-container {
    width: 88%;
    margin: 0 auto;
}

.title-container .content-header {
    color: #000000;
    font-size: 30px;
    letter-spacing: 5px;
    width: 100%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 35px;
}

div.title-container h1 {
    font-size: 30px;
    letter-spacing: 8px;
}



.no-access {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    font-weight: 800;
}

.no-access-content {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    margin-top: 30px;

}

.fa-solid {
    color: #E8933D;
}

.set-btn {
    height: 40px;
    width: 100px;
    border: none;
    background-color: #809f68;
    color: white;
    font-size: 17px;
    border-radius: 9px;
    font-weight: bolder;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 15px;
    padding-left: 4px;
    transition: background-color 0.1s;
}

.set-btn:active {
    background-color: #9fb889;
}


#MainUserID {
    width: auto;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #d3d3d3;
    border: 1px solid #ffffff;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: -5px;
    color: #000;
}


#MainUserID:focus {
    outline: none;
    box-shadow: 0 0 5px #666;
}

.chart-box {
    border: 1px solid #000;
    margin: 10px 0;
}

.chart-box select {
    padding: 5px;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
}

#dateContainer {
    padding: 0px 23px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    align-items: center;
}

#chartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.chart-box {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0px 5px 6px #e3e3e3;
}

.chart-box h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.chart-select {
    font-size: 14px;
    padding: 10px 15px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.chart-select:hover {
    border-color: #888;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.chart-select:focus {
    border-color: #4CAF50;
    box-shadow: 0 2px 8px rgba(76, 175, 80, 0.5);
    outline: none;
}

.date-range-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 17px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: #333;
    width: 72%;
    max-width: 600px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
}

.date-range-container span {
    display: inline-block;
    margin: 0 5px;
}

div.button-group {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.nav-button {
    background-color: #809f68;
    color: white;
    padding: 10px;
    width: 88%;
    height: 45px;
    margin: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    display: block;
    visibility: visible;
    font-size: 17px;
    font-weight: bolder;
    letter-spacing: 3px;
    text-align: center;
    align-items: center;
}

.nav-button:active {
    background-color: #9fb889;
}

.no-data-message,
.error-message {
    color: #000000;
    border: 3px solid #E8933D;
    border-radius: 8px;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}


.period-link {
    display: inline-block;
    margin: 0px 15px;
    padding: 10px;
    width: 12%;
    background-color: #5D7B48;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 17px;
    font-weight: bolder;
    letter-spacing: 3px;
    text-align: center;
    align-items: center;

}

.period-link:active {
    background-color: #9fb889;
}

@media screen and (min-width: 375px) and (max-width: 413px) {
    .nav-button {
        width: 89%;
    }

    .period-link {
        margin: 0px 12px;
    }
}


@media screen and (min-width: 414px) {
    .nav-button {
        width: 89%;
    }
}

@media (min-width: 576px) {
    /* For devices >= 576px */
}

@media (min-width: 768px) {
    div.header {
        height: 50px;
    }

    div.header h1 {
        padding: 12px;
    }

    .chart-box {
        margin: 10px 0;
        width: 60%;
        display: flex;
        justify-content: center;
        /* 水平居中 */
        align-items: center;
    }

    .chart-box select {
        padding: 10px;
    }

    .title-container {
        width: 67%;
    }

    .nav-button {
        width: 66%;
    }

    .period-link {
        width: 12%;
    }

    .period-link:hover,
    .period-link:active {
        background-color: #9fb889;
    }

    .period-link:hover,
    .period-link:active {
        background-color: #809f68;
    }
}

@media (min-width: 992px) {
    .title-container {
        width: 54%;
    }

    .nav-button {
        width: 55%;
    }

    .period-link {
        width: 10%;
    }
}

@media (min-width: 1200px) {
    .title-container {
        width: 48%;
    }

    .nav-button {
        width: 47%;
    }

    .period-link {
        width: 8.5%;
    }

}

@media (min-width: 1400px) {
    .title-container {
        width: 44%;
    }

    .nav-button {
        width: 44.5%;
    }

    .period-link {
        width: 8%;
    }
}