@charset "utf-8";

html,
body {
    touch-action: manipulation;
    font-family: 'Noto Sans TC', sans-serif;
    padding-bottom: 20px;
    margin: 0;
    padding: 0;
    background-color: #F2F0EE;
    overflow-x: hidden;
    padding-bottom: 20px;
    overflow-x: hidden;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    padding-bottom: calc(30px + env(safe-area-inset-bottom));
}

div.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 40px;
    background-color: #9FB889;
}

div.header h1 {
    font-size: 30px;
    width: 200px;
    padding: 0px;
    text-align: center;
    letter-spacing: 3px;
    margin: 0%;
}

#menu-bar {
    z-index: 1;
    float: left;
    padding-top: 12px;
    padding-left: 10px;
    font-size: 17px;
    color: #809f68;
}

div.navbar {
    height: 35px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: 600;
}

ul li {
    line-height: 40px;
    float: left;
    width: 75px;
    text-align: center;
}

div.navbar a {
    text-decoration: none;
    color: #000000;
}

div.content {
    background-color: #F2F0EE;
    padding: 0px 23px;
}

.title-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.content-header-image {
    width: auto;
    height: auto;
    max-width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}


div.content h1 {
    font-size: 30px;
    letter-spacing: 8px;
}

.container {
    touch-action: manipulation;
    -ms-content-zooming: none;
    margin: 0 auto;
    text-align: center;
    line-height: 10px;
    background-color: #F2F0EE;
    min-height: calc(100vh - env(safe-area-inset-bottom));
    min-height: calc(100vh - constant(safe-area-inset-bottom));
    padding: 15px 0;
}

.image-container {
    margin-bottom: 15px;
}

.image {
    cursor: pointer;
    max-width: 90%;
    transition: transform 0.2s;
    display: inline-block;
}

.item-image {
    display: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    transition: transform 0.2s;
}

.item-image.enlarged {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    max-width: 100%;
    z-index: 1000;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.overlay.active {
    display: block;
}

.share-btn {
    display: none;
    margin-top: 10px;
    background-color: #809f68;
    color: #ffffff;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    border: none;
    font-weight: 700;
    margin-bottom: 10px;
    height: 33px;
    width: 100px;
    justify-content: center;
    align-items: center;
}

.title-underline {
    border-bottom: 1px solid #9a9a9a !important;
    margin-top: 5px !important;
    margin-bottom: 15px;
}

.item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.item-title i {
    margin-left: 10px;
    font-size: 18px;
    color: #494949;
}

.form {
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 1px 6px 5px;
}

.form h3 {
    color: #313131;
    font-weight: 600;
    margin-right: 5px;
    font-size: 1.17em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-top: 21px;
}

.content-header-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    div.header {
        height: 50px;
    }

    div.header h1 {
        padding: 3px;
    }

    #menu-bar {
        padding-top: 13px;
        padding-left: 13px;
        font-size: 22px;
    }

    ul li {
        line-height: 50px;
        width: 85px;
    }

    div.navbar a {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    #menu-bar {
        padding-top: 15px;
        padding-left: 15px;
        font-size: 25px;
    }

    ul li {
        line-height: 56px;
    }
}

@media (min-width: 1200px) {
    .title-underline {
        border-bottom: 1px solid #000 !important;
        margin-top: 5px !important;
        margin-bottom: 15px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .item-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding-left: 20px;
        padding-right: 20px;
    }

    .item-title i {
        margin-left: 10px;
        font-size: 20px;
    }
}

@media (min-width: 1400px) {
    #menu-bar {
        padding-top: 20px;
        padding-left: 20px;
    }

    ul li {
        line-height: 65px;
    }

    .item-title {
        padding-left: 110px;
    }

    .title-container,
    .form {
        margin-left: 0px;
        padding-left: 0px;
        width: 100%;
        padding-right: 0px;
    }

    .title-underline {
        margin-left: 0px !important;
    }

    .item-title {
        padding-left: 5px;
    }

    .form {
        background-color: #f7f7f7;
        border-radius: 8px;
        padding: 1px 6px 5px;
        max-width: 1180px;
        margin: 0 auto;
    }
}