@charset "utf-8";

/* ------------------- */
/* html, body          */
/* ------------------- */
html, body{
    touch-action: manipulation;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #F2F0EE;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    height: auto;
    padding-bottom: 20px;
    padding-bottom: env(safe-area-inset-bottom);
    padding-bottom: constant(safe-area-inset-bottom);
}

/* ------------------- */
/* container           */
/* ------------------- */
div.container{
    touch-action: manipulation;
    -ms-content-zooming: none;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    text-align: justify;
    line-height: 26px;
    background-color: #F2F0EE;
    min-height: calc(100vh - env(safe-area-inset-bottom));
    min-height: calc(100vh - constant(safe-area-inset-bottom));
}

/* ------------------- */
/* header              */
/* ------------------- */
div.header{
    display: flex;
    /* 水平置中 */
    justify-content: center;  
    padding: 10px;
    height: 40px;
    background-color: #9FB889;
}

div.header h1{
    font-size: 30px;
    width: 200px;
    padding: 5px;
    text-align:center;
    letter-spacing: 3px;
    margin: 0%;
}

/* ------------------- */
/* content             */
/* ------------------- */
div.cardrow{
    display: flex;
    /* 水平置中 */
    justify-content: center;  
    margin: auto;
}

/* 所有輸入欄位 */
.form-container {
    width: 340px;
    margin: 20px auto;
}

div.content h1{
    font-size: 30px;
    letter-spacing:8px;
}

div.form-container h4{
    margin-bottom: 40px;
}

.check{
    margin-left: 2%;
}

textarea.message {
    width: 340px;
    height: 65px;
    min-width: 340px; /* 最小寬度 */
    resize: both; /* 允許水平和垂直縮放 */
}

button.i{
    position: relative;
    /* top: -70px; */
    align-items: center;
    background-color: #809f68;
    width: 300px;
    height: 40px;
    border-style: none;
    border-radius: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 5px;
    margin: 30px 0%;
    cursor: pointer;    
    transition: background-color 0.1s;
}


button.i:active {
    background-color: #9fb889;
}


/* ------------------- */
/* Media Queries       */
/* ------------------- */
/* 中等大小的手機屏幕 */
@media screen and (min-width: 375px) and (max-width: 413px) {
    body h1{
        font-weight: 600;
        }
}


@media (min-width: 768px) {
    html, body{
        padding-bottom: calc(30px + env(safe-area-inset-bottom));
    
    }

    div.header {
        height: 50px;
    }
    
    div.header h1 {
        padding: 12px;
    }

    
    button.i:hover,
    button.i:active {
        background-color: #9fb889;
    } 


    .value {
        margin-bottom: 30px; 
    }
    
    select {
        margin-bottom: 32px;
    }

   
    button.i::-webkit-calendar-picker-indicator {
        position: absolute;
        right: 10px; 
        margin-left: 0; 
        z-index: 2; 
        opacity: 0; 
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}

