<!doctype html>
<html>

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>刪除用藥成功</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link href="/static/css/respond.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        
        <div class="header">
            <h1>SilverEase</h1>
        </div>

        <i id="menu-bar" class="fa-solid fa-house" style="color: #809f68;"></i>
        
        <div class="navbar">
            <ul id="navigation" class="nav">
                <li><a href="/med/list">返回主頁</a></li>
            </ul>
        </div>

        <div class="content">
            <div class="clear"></div>
            <img src="/static/imgs/delete_success.png" alt="刪除成功圖" width="340px" height="340px">
            <h2>刪除用藥成功</h2>
        </div>
        
    </div>
</body>

</html>
