<!doctype html>
<html>

<head>
    <meta charset="utf-8" name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>編輯用藥</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link href="/static/css/create_form.css" rel="stylesheet" />
    <script src="/static/js/touch-buttons.js" defer></script>
    <script src="/static/js/img.js"></script>
</head>

<body onload="initializeLiff('2004699458-OR9pkZjP')">
    <div class="container">
        <div class="header">
            <h1>SilverEase</h1>
        </div>

        <i id="menu-bar" class="fa-solid fa-house"></i>

        <div class="navbar">
            <ul id="navigation" class="nav">
                <li><a href="/med/list">返回主頁</a></li>
            </ul>
        </div>

        <div class="content">
            <div class="title-container">
                <h1 class="content-header">編輯用藥</h1>
            </div>

            <div class="form-container">
                <form action="/med/update" method="post" enctype="multipart/form-data">
                    <div class="form">
                        <div class="name">藥物名稱</div>
                        <select name="Title">
                            <option value="感冒藥" {% if data.Title=="感冒藥" %}selected{% endif %}>感冒藥</option>
                            <option value="頭痛藥" {% if data.Title=="頭痛藥" %}selected{% endif %}>頭痛藥</option>
                            <option value="止痛藥" {% if data.Title=="止痛藥" %}selected{% endif %}>止痛藥</option>
                            <option value="高血壓藥物" {% if data.Title=="高血壓藥物" %}selected{% endif %}>高血壓藥物</option>
                            <option value="糖尿病藥物" {% if data.Title=="糖尿病藥物" %}selected{% endif %}>糖尿病藥物</option>
                            <option value="心臟病藥物" {% if data.Title=="心臟病藥物" %}selected{% endif %}>心臟病藥物</option>
                            <option value="降膽固醇藥物" {% if data.Title=="降膽固醇藥物" %}selected{% endif %}>降膽固醇藥物</option>
                            <option value="抗凝劑" {% if data.Title=="抗凝劑" %}selected{% endif %}>抗凝劑</option>
                            <option value="抗血小板藥物" {% if data.Title=="抗血小板藥物" %}selected{% endif %}>抗血小板藥物</option>
                            <option value="癌症藥物" {% if data.Title=="癌症藥物" %}selected{% endif %}>癌症藥物</option>
                            <option value="其他" {% if data.Title=="其他" %}selected{% endif %}>其他</option>
                        </select>
                        <input type="text" name="OtherTitle" id="OtherTitle" class="input-field"
                            value="{{ data.OtherTitle if data.OtherTitle else '' }}" placeholder="請輸入其他藥物名稱"
                            style="display:none;">

                        <div class="name">日期時間</div>
                        <div class="value">
                            <div class="input-icon">
                                <input type="datetime-local" name="MemoTime" value="{{ data.MemoTime }}"
                                    class="input-field" required>
                                <i class="fa-solid fa-calendar-days calendar-icon"></i>
                            </div>
                        </div>

                        <div id="secondThirdTimeContainer">
                            <div style="display: flex; gap: 10px; width: 100%;">
                                <div style="flex: 1;">
                                    <div class="name">第二次用藥時間</div>
                                    <div class="value">
                                        <div class="input-icon">
                                            <input type="time" name="SecondTime" id="secondTimeInput"
                                                value="{{ data.SecondTime }}" class="input-field">
                                        </div>
                                    </div>
                                </div>

                                <div id="thirdTimeContainer" style="flex: 1; display: none;">
                                    <div class="name">第三次用藥時間</div>
                                    <div class="value">
                                        <div class="input-icon">
                                            <input type="time" name="ThirdTime" id="thirdTimeInput"
                                                value="{{ data.ThirdTime }}" class="input-field">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="name">結束日期時間</div>
                        <div class="value">
                            <div class="input-icon">
                                <input type="datetime-local" name="EndDate" value="{{ data.EndDate }}"
                                    class="input-field">
                                <label for="EndDate" class="placeholder">選擇欲結束提醒日期時間</label>
                            </div>
                        </div>

                        <div class="name">圖片</div>
                        <div class="value" id="pic-{{ data.MemoID }}">
                            {% set image_found = false %}
                            {% for ext in ['png', 'jpg', 'jpeg', 'gif'] %}
                            {% set image_path = "/static/imgs/med/" ~ data.MemoID ~ "." ~ ext %}
                            <img src="{{ image_path }}" style="width: 100px; height: 100px;"
                                onerror="this.style.display='none';" onload="image_found=true;">
                            {% endfor %}
                            <input type="file" name="Pic" accept="image/*" id="fileInput" onchange="fileSelected()">
                            <button type="button" onclick="removeImage('{{ data.MemoID }}')">移除圖片</button>
                            <button type="button" id="removeSelectionBtn" style="display:none;"
                                onclick="removeSelection()">移除所選圖片</button>
                        </div>

                        <div class="name">多久重複</div>
                        <select name="Cycle" value="{{ data.Cycle }}">
                            <option value="不重複">不重複</option>
                            <option value="一小時">一小時</option>
                            <option value="一天">一天</option>
                            <option value="一週">一週</option>
                            <option value="一個月">一個月</option>
                            <option value="一年">一年</option>
                        </select>

                        <div class="name">幾分鐘前提醒</div>
                        <select name="Alert" value="{{ data.Alert }}">
                            <option value="0">當下</option>
                            <option value="1">1分鐘</option>
                            <option value="5">5分鐘</option>
                            <option value="10">10分鐘</option>
                            <option value="30">30分鐘</option>
                            <option value="60">1小時</option>
                        </select>

                    </div>
                    <a href="/med/delete/confirm?MemoID={{ data.MemoID }}" class="delete-btn">刪除</a>

                    <input type="hidden" name="MemoID" value="{{ data.MemoID }}">
                    <input type="hidden" id="EditorID" name="EditorID">
                    <div class="name"></div>
                    <div class="value"><input type="submit" value="更改"></div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script>
        var EditorID;
        function initializeLiff(myLiffId) {
            liff.init({
                liffId: myLiffId
            }).then(() => {
                if (!liff.isLoggedIn()) {
                    alert("用戶未登入");
                    liff.login();
                } else {
                    liff.getProfile()
                        .then(profile => {
                            var EditorID = profile.userId;
                            document.getElementById("EditorID").value = EditorID;
                        })
                        .catch((err) => {
                            console.log('error', err);
                        });
                }

            }).catch((err) => {
                console.log('初始化失敗', err);
            });
        }

        function removeImage(memoID) {
            if (confirm("您確定要移除這張圖片嗎？")) {
                fetch(`/med/delete/image/${memoID}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            const imageElement = document.querySelector(`#pic-${memoID} img`);
                            if (imageElement) {
                                imageElement.style.display = 'none';
                            }
                            alert("圖片已成功移除");
                            location.reload();
                        } else {
                            alert("移除圖片失敗：" + data.error);
                        }
                    })
                    .catch(error => {
                        console.error("Error removing image:", error);
                        alert("發生錯誤，無法移除圖片");
                    });
            }
            }

        document.addEventListener('DOMContentLoaded', function () {
            var cycleValue = "{{ data.Cycle }}";
            var cycleSelectElement = document.querySelector('select[name="Cycle"]');
            for (var i = 0; i < cycleSelectElement.options.length; i++) {
                if (cycleSelectElement.options[i].value === cycleValue) {
                    cycleSelectElement.options[i].selected = true;
                    break;
                }
            }

            var alertValue = "{{ data.Alert }}";
            var alertSelectElement = document.querySelector('select[name="Alert"]');
            for (var i = 0; i < alertSelectElement.options.length; i++) {
                if (alertSelectElement.options[i].value === alertValue) {
                    alertSelectElement.options[i].selected = true;
                    break;
                }
            }

            var titleSelectElement = document.querySelector('select[name="Title"]');
            var otherTitleInput = document.getElementById('OtherTitle');

            if (titleSelectElement.value === '其他') {
                otherTitleInput.style.display = 'block';
                otherTitleInput.required = true;
                otherTitleInput.value = "{{ data.OtherTitle }}";
            } else {
                otherTitleInput.style.display = 'none';
                otherTitleInput.required = false;
            }
        });

        document.querySelector('select[name="Title"]').addEventListener('change', function () {
            var otherTitleInput = document.getElementById('OtherTitle');
            if (this.value === '其他') {
                otherTitleInput.style.display = 'block';
                otherTitleInput.required = true;
            } else {
                otherTitleInput.style.display = 'none';
                otherTitleInput.required = false;
            }
        });

        function fileSelected() {
            const fileInput = document.getElementById('fileInput');
            const removeSelectionBtn = document.getElementById('removeSelectionBtn');
            const allowedExtensions = ['png', 'jpg', 'jpeg', 'gif'];
            const file = fileInput.files[0];
            const fileExtension = file ? file.name.split('.').pop().toLowerCase() : '';

            if (file && !allowedExtensions.includes(fileExtension)) {
                alert('圖檔只能是「.png、.jpg、.jpeg或.gif」請重新選擇。');
                fileInput.value = '';
                removeSelectionBtn.style.display = 'none';
            } else if (file) {
                removeSelectionBtn.style.display = 'inline-block';
            } else {
                removeSelectionBtn.style.display = 'none';
            }
        }

        function removeSelection() {
            const fileInput = document.getElementById('fileInput');
            const removeSelectionBtn = document.getElementById('removeSelectionBtn');

            fileInput.value = '';
            removeSelectionBtn.style.display = 'none';
        }

        function toggleThirdTime() {
            const secondTimeInput = document.getElementById('secondTimeInput');
            const thirdTimeContainer = document.getElementById('thirdTimeContainer');

            if (secondTimeInput.value) {
                thirdTimeContainer.style.display = 'block';
                document.getElementById('secondThirdTimeContainer').style.display = 'flex';
            } else {
                thirdTimeContainer.style.display = 'none';
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            toggleThirdTime();
            document.getElementById('secondTimeInput').addEventListener('input', toggleThirdTime); // Check on change
        });
    </script>
</body>

</html>