<!DOCTYPE html>
<html>
<!-- <html lang="en"> -->

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalabe=no">
    <title>身分設定</title>

    <!-- 連結css檔 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap" rel="stylesheet">

    <link href="/static/css/main.css" rel="stylesheet" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>選擇按鈕</title>
    <style>
        /*視窗*/
        .container {
            text-align: center;
        }
    </style>

    <style>
        /* 在<style>标签中添加 CSS 样式 */
        .rounded-image {
            border-radius: 50%;
        }

        .center-image {
            margin: 0 auto;
            display: block;
        }

        .shadowed-image {
            display: block;
            margin: 0 auto;
            box-shadow: 5px 5px 10px #888888;
            /* 阴影效果 */
        }
    </style> -->
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>SilverEase</h1>
        </div>

        <div class="content">
            <div class="row">
                <div class="center-image">
                    <h1 text="Hi!" id="name" ></h1>
                </div>
            </div>
            <div class="cardrow">
                <img src="/static/imgs/main.png" class="p">
            </div>

            <div class="form">
                <form id="form" action="/identity/oy" method="post">
                    <div class="cardrow">
                        <!-- 這裡也要看看 -->
                        <button type="button" class="card" id="old" onclick="selectButton('old')">長輩</button>
                        <button type="button" class="card" id="young" onclick="selectButton('young')">照護者</button>
                    </div>

                    <input type="hidden" id="MemID" name="MemID">
                    <input type="hidden" id="MemName" name="MemName">
                    <input type="hidden" id="option" name="option">
                    <input type="hidden" id="checkMember" name="checkMember">

                    <div class="cardrow"><input class="button" type="submit" value="確認" id="myButton"></div>
                </form>
            </div>
        </div>
    </div>
</body>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
<script>
    var MemID;
    var MemName;
    var picUrl;

    function initializeLiff(myLiffId) {
        liff.init({
            liffId: myLiffId
        }).then(() => {
            if (!liff.isLoggedIn()) {
                alert("用戶未登入");
                liff.login();
            } else {
                // alert("用戶已登入");
                liff.getProfile()
                    .then(profile => {
                        MemName = profile.displayName;
                        MemID = profile.userId;
                        picUrl = profile.pictureUrl;
                        document.getElementById("name").innerHTML = MemName;
                        document.getElementById("MemID").value = MemID;
                        document.getElementById("MemName").value = MemName;
                        checkMember(profile);
                    })
                    .catch((err) => {
                        console.log('error', err);
                    });
            }

        }).catch((err) => {
            console.log('初始化失敗', err);
        });
    }

    function checkMember(profile) {
        /**
         * 
         * https://ithelp.ithome.com.tw/articles/10252941
         * v學會JSON 
         * 變數要用對
         * F12可以看console.log訊息還有很多資訊
         * 
         */
        fetch('/checkid', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                MemID: profile.userId
            })
        },
        ).then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            console.log(response);
            return response.json(); //回應轉為JSON處理
        }).then(jsondata => {
            console.log(jsondata);
            if (jsondata["result"]) {  //轉為JSON後處理的事情
                document.getElementById("option").value = jsondata["option"]
                form = document.getElementById("form").submit();
            }


        }).catch(error => {
            console.log('發送資料錯誤:', error);
        });
    }

    $(document).ready(function () {
        initializeLiff('{{ liffid }}');  //接收傳遞的 liffid 參數
    });

    
    /**
     * 這是一個選擇按鈕的函數
     * @param {string} btnId 
     */

    function selectButton(btnId) {
        document.getElementById('old').classList.remove('onclick');
        document.getElementById('young').classList.remove('onclick');
        document.getElementById(btnId).classList.add('onclick');
        document.getElementById('option').value = btnId;
    }
</script> -->
</html>