<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>測試文件</title>
    
    <!-- 連結css檔 --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap" rel="stylesheet">
        
    <link href="/static/css/smain.css" rel="stylesheet" />
    <!--..........-->
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>SilverEase</h1>
        </div>
        <div class="content">
            <div class="clear"></div>
            <div class="cardrow">
                <a><div class="card"><b class="t1">吃藥提醒</b><img src="imgs/medicine.png" class="a"></div></a>
                <a><div class="card"><b class="t1">回診提醒</b><img src="imgs/planner.png" class="a"></div></a>
                <a><div class="card"><b class="t2">紀念日提醒</b><img src="imgs/treatment.png" class="b"></div></a>
            </div>   
        </div>
    </div>    
</body>

</html>