<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>重複輸入</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        .message {
            color: red;
            font-size: 24px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="message">不可重複輸入！,等待自動跳轉1秒...</div>
</body>
<script>
    // 等待 1 秒後跳轉到 young.html
    window.onload = function() {
            setTimeout(function() {
                window.location.href = "/young";
            }, 1000); // 1000 毫秒 = 1 秒
        }
</script>
</html>
