<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>輸入長輩編號</title>
</head>
<script>
    function initializeLiff(myLiffId) {
        liff.init({
            liffId: myLiffId
        }).then(() => {
            if (!liff.isLoggedIn()) {
                alert("用戶未登入");
                liff.login();
            } else {
                // alert("用戶已登入");
                liff.getProfile()
                    .then(profile => {
                        MemID = profile.userId;
                        document.getElementById("MemID").value = MemID;
                        checkMember(profile);
                    })
                    .catch((err) => {
                        console.log('error', err);
                    });
            }

        }).catch((err) => {
            console.log('初始化失敗', err);
        });
    }
</script>

<body>
    <h2>請在下方輸入資料：</h2>
    <form action="/CodeID" method="post" enctype="multipart/form-data" >
        <div class="form">
            <span class="name">長輩編號：</span>
            <span class="value">
                <input type="text" name="CodeID" required>
                <input type="hidden" id="MemID" name="MemID">
            </span>
            <br/>
            <span class="value"><input type="submit" value="送出" style="width:80px"></span>
        </div>
    </form>
</body>
</html>