<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>輸入長輩編號</title>
</head>
<body>
    <h2>請在下方輸入資料：</h2>
    <form action="/CodeID" method="post" enctype="multipart/form-data">
        <div class="form">
            <span class="name">長輩編號：</span>
            <span class="value">
                <input type="text" name="CodeID" required>
            </span>
            <br/>
            <span class="name"></span>
                    <span class="value"><input type="submit" value="送出" style="width:80px"></span>
                </div>
            </form>


</body>
</html>
