<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>輸入長輩編號</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap" rel="stylesheet">
        
    <link href="/static/css/code.css" rel="stylesheet" />
</head>
<script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
<script>
    var MemID;
    function initializeLiff(myLiffId) {
        liff.init({
            liffId: myLiffId
        }).then(() => {
            if (!liff.isLoggedIn()) {
                alert("用戶未登入");
                liff.login();
            } else {
                // alert("用戶已登入");
                liff.getProfile()
                    .then(profile => {
                        var MemID = profile.userId;
                        document.getElementById("MemID").value = MemID;
                    })
                    .catch((err) => {
                        console.log('error', err);
                    });
            }

        }).catch((err) => {
            console.log('初始化失敗', err);
        });
    }
</script>

<body onload="initializeLiff('2004699458-OR9pkZjP')">
    <div class="container">
        <div class="header">
            <h1>SilverEase</h1>
        </div>

        <div class="content">
            <h1>群組代碼</h1>
            <img src="/static/imgs/code.png" class="b">
            <form action="/CodeID" method="post" enctype="multipart/form-data" >
                <div class="form">
                    <h4>請輸入群組代碼</h4>

                    <div class="cardrow">
                    <span class="value">
                        <input class="input" type="text" name="CodeID" placeholder="輸入代碼" required></br>
                        <input type="hidden" id="MemID" name="MemID">
                    </span>
                    </div>
                    <span class="value"><input type="submit" value="確認"></span>
                </div>
            </form>
        </div>
    </div>
</body>
</html>