<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>編輯回診資料</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>SliverEase</h1>
        </div>
        <ul id="navigation">
            <li><a href="/hos/list">返回主頁</a></li>
        </ul>
        <div class="content">
            <h2>編輯回診資料</h2>
            <form action="/hos/update" method="post" enctype="multipart/form-data">
                <div class="form">
                    <span class="name">名稱</span>
                    <span class="value">
                        <input type="text" name="Title" value="{{data[2]}}" required>
                    </span>
                    <br />

                    <span class="name">日期</span>
                    <span class="value">
                        <input type="text" name="DateTime" value="{{data[3]}}" required>
                    </span>
                    <br />

                    <span class="name">醫院地點</span>
                    <span class="value">
                        <input type="text" name="Location" value="{{data[7]}}">
                    </span>
                    <br />

                    <span class="name">看診醫生</span>
                    <span class="value">
                        <input type="text" name="Doctor" value="{{data[8]}}">
                    </span>
                    <br />

                    <span class="name">門診</span>
                    <span class="value">
                        <input type="text" name="Clinic" value="{{data[9]}}">
                    </span>
                    <br />

                    <span class="name">號碼</span>
                    <span class="value">
                        <input type="text" name="Num" value="{{data[10]}}">
                    </span>
                    <br />

                    <a href="/hos/delete/confirm?MemoID={{data[0]}}">刪除</a>
                    <br />

                    <input type="hidden" name="MemoID" value="{{data[0]}}">
                    <span class="name"></span>
                    <span class="value"><input type="submit" value="更改" style="width:80px"></span>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
