<!doctype html>
<html>

<head>
    <meta charset="utf-8" name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalabe=no">
    <title>回診資料清單</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link href="/static/css/create_form.css" rel="stylesheet" />
</head>

<script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
<script>
    var MemID;
    function initializeLiff(myLiffId) {
        liff.init({
            liffId: myLiffId
        }).then(() => {
            if (!liff.isLoggedIn()) {
                alert("用戶未登入");
                liff.login();
            } else {
                liff.getProfile()
                    .then(profile => {
                        var MemID = profile.userId;
                        document.getElementById("MemID").value = MemID;
                    })
                    .catch((err) => {
                        console.log('error', err);
                    });
            }

        }).catch((err) => {
            console.log('初始化失敗', err);
        });
    }
</script>

<body onload="initializeLiff('2004699458-OR9pkZjP')">
    <div class="container">
        
        <div class="header">
            <h1>SliverEase</h1>
        </div>

        <div class="content">
            <h1>回診資料清單</h1>

            <p>
            <table>
                <thead>
                    <tr>
                        <th>標題</th>
                        <th>時間</th>
                        <th>地點</th>
                        <th>醫院地點</th>
                        <th>看診醫生</th>
                        <th>門診</th>
                        <th>號碼</th>
                    </tr>
                </thead>

                <tbody>
                    {% for d in data %}
                    <tr>
                        <td>{{d[2]}}</td>
                        <td>{{d[3]}}</td>
                        <td>{{d[7]}}</td>
                        <td>{{d[8]}}</td>
                        <td>{{d[9]}}</td>
                        <td>{{d[10]}}</td>
                        <td><a href="/hos/update/confirm?MemoID={{d[0]}}">編輯</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </p>

        </div>

        <input type="hidden" id="MemID" name="MemID">

    </div>
</body>

</html>
