<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        .item-image {
            display: none;
        }
    </style>
</head>
<body>
    <h2>{{ title }}</h2>
    <a href="{{ url_for('health_bp.health') }}">返回主頁</a>
    <div class="content">
        {% for item in items %}
            <h3 class="item-title" onclick="toggleImage('{{ loop.index0 }}')">{{ item.name }}</h3>
            <img id="image-{{ loop.index0 }}" class="item-image" src="{{ url_for('static', filename='imgs/' + item.image) }}" alt="{{ item.name }}">
        {% endfor %}
    </div>
    <script>
        function toggleImage(index) {
            var image = document.getElementById('image-' + index);
            if (image.style.display === 'none' || image.style.display === '') {
                image.style.display = 'block';
            } else {
                image.style.display = 'none';
            }
        }
    </script>
</body>
</html>
