<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap" rel="stylesheet">
    <title>衛教專區</title>
    <link href="/static/css/health.css" rel="stylesheet" />
</head>

<body>
    <div class="header">
        <h1>SilverEase</h1>
    </div>

    <div class="container">
        <div class="image-container">
            <a href="/health/self">
                <img class="image" src="/static/imgs/health/self.png" alt="推薦">
            </a>
        </div>
        <div class="image-container">
            <a href="/health/death">
                <img class="image" src="/static/imgs/health/death.png" alt="十大死因">
            </a>
        </div>
        <div class="image-container">
            <a href="/health/chronic">
                <img class="image" src="/static/imgs/health/chronic.png" alt="慢性病">
            </a>
        </div>
        <div class="image-container">
            <a href="/health/precaution">
                <img class="image" src="/static/imgs/health/precaution.png" alt="防疫專區">
            </a>
        </div>
    </div>
</body>

</html>