<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>衛教專區</title>
</head>
<body>
    <a href="/health/self">
        <img src="/static/imgs/health/self.png" alt="推薦">
    </a>
    <a href="/health/death">
        <img src="/static/imgs/health/death.png" alt="十大死因">
    </a>
    <a href="/health/chronic">
        <img src="/static/imgs/health/chronic.png" alt="慢性病">
    </a>
    <a href="/health/precaution">
        <img src="/static/imgs/health/precaution.png" alt="防疫專區">
    </a>
</body>
</html>
