<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>通報遺失/走失</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap" rel="stylesheet">
    <link href="/static/css/lostAndFound.css" rel="stylesheet" />
    <script src="/static/js/touch-buttons.js" defer></script>
    <script src="/static/js/img.js"></script>

</head>

<body>
    <div class="container">
        <div class="header">
            <h1>SilverEase</h1>
        </div>
        <div class="form-container">
            <h4>感謝您發現走失老人/遺失裝置，
                請點擊以下按鈕協助通知家屬</h4>

            <div class="cardrow">
                <textarea class="message" name="" id="message" placeholder="希望您能留下聯繫方式"></textarea>
            </div>
            <div class="cardrow">
                <button class="i" onclick=lostReport()>通報遺失/走失</button>
            </div>
            <img src="/static/imgs/thanks.png" alt="感謝圖" srcset="" id="thanksImg" hidden>
        </div>
    </div>

</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function lostReport() {
        fetch('/lost_report', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                message: document.getElementById('message').value
            })
        }).then(res => res.json())
            .then(data => {
                if (data['status'] == 'success') {
                    swal("通報成功", "已通知家屬", "success");
                    document.getElementById("thanksImg").hidden = false
                } else {
                    swal("通報失敗", "請再試一次", "error");
                }
            })
    }
</script>

</html>