<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>刪除藥程</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>SliverEase</h1>
        </div>
        <ul id="navigation">
            <li><a href="/med/list">返回主頁</a></li>
        </ul>
        <div class="content">
            <h2>確認刪除藥程</h2>
            <form action="/med/delete" method="post" enctype="multipart/form-data">
                <div class="form">
                    <span class="name">標題</span>
                    <span class="value">
                        <input type="text" name="Title" value="{{data[2]}}" readonly>
                    </span>
                    <br />

                    <span class="name"></span>
                    <input type="hidden" name="MemoID" value="{{data[0]}}">
                    <span class="value"><input type="submit" value="刪除" style="width:80px"></span>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
