<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"> 
    <title>用藥清單</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link href="/static/css/list.css" rel="stylesheet" />
</head>

<script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
<script>
    var MemID;
    function initializeLiff(myLiffId) {
        liff.init({
            liffId: myLiffId
        }).then(() => {
            if (!liff.isLoggedIn()) {
                alert("用戶未登入");
                liff.login();
            } else {
                liff.getProfile()
                    .then(profile => {
                        var MemID = profile.userId;
                        document.getElementById("MemID").value = MemID;
                    })
                    .catch((err) => {
                        console.log('error', err);
                    });
            }

        }).catch((err) => {
            console.log('初始化失敗', err);
        });
    }
</script>

<body onload="initializeLiff('2004699458-OR9pkZjP')">
    <div class="container">
        
        <div class="header">
            <h1>SilverEase</h1>
        </div>

        <div class="content">
            <h1>用藥清單</h1>

            <p>
            <table>
                <thead>
                    <tr>
                        <th>標題</th>
                        <th>時間</th>
                        <th>藥盒與藥袋外觀描述</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr>
                        <td>{{d[2]}}</td>
                        <td>{{d[3]}}</td>
                        <td>{{d[7]}}</td>
                        <td><a href="/med/update/confirm?MemoID={{d[0]}}">編輯</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </p>

            {% for d in data %}
            <div class="data-item">
                <div class="title">標題：{{d[2]}}</div>
                <div class="time">時間：{{d[3]}}</div>
                <div class="description">藥盒與藥袋外觀描述：{{d[7]}}</div>
                <div class="cycle">循環（多久提醒一次）：{{d[8]}}</div>
                <div class="edit-link">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <a href="/med/update/confirm?MemoID={{d[0]}}">編輯</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <input type="hidden" id="MemID" name="MemID">

    </div>
</body>

</html>
